@using Models.Models.Players
@using Models.Models
@using Services.Services
@inherits LayoutComponentBase
@inject GameStateModel _gameState;
@inject IInfoProvider _infoProvider;
@inject ITimeService _timeService;

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <div class="main">
        <Header GameState="_gameState" PlayerStorage="_playerStorage"></Header>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code
{
    PlayerStorageModel _playerStorage;

    protected override async void OnInitialized()
    {
        _playerStorage = _gameState?.Players[_gameState.PlayerId];

        StartUpdateUiTask();

        await base.OnInitializedAsync();
    }

    private void StartUpdateUiTask()
    {
        Task.Run(async () =>
        {
            while (true)
            {
                await Task.Delay(1000);
                await InvokeAsync(StateHasChanged);
            }
        });
    }
}